body {
	background-color: #e9ebee;
}

.container {
	display: inline-flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.warning-content {
	background-color: #ffc1c1;
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	padding: 15px;
	box-shadow: 1px 1px 10px 1px
}

.post {
	background-color: #fff;
	border: 1px solid #dddfe2;
	border-radius: 4px;
	width: 30%;
	min-height: 50px;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 30px;
	padding: 15px;
}

.content {
	width: 100%;
	background-color: #fff;
	min-height: 50px;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 12px;
	text-align: justify;
	color: #1d2129;
}

.num-likes {
	color: #365899;
	font-size: 13px;
	align-self: start
}

.interaction-components {
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
}

.interaction-components div {
	text-decoration: none;
	font-weight: bolder;
	color: #616770;
	cursor: pointer
}